PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-12-03 20:27:37.770564');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2024-12-03 20:27:37.799714');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2024-12-03 20:27:37.824920');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "election_app_customuser" ("password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NULL, "matricule" varchar(100) NULL UNIQUE, "gender" varchar(10) NULL, "email" varchar(254) NOT NULL UNIQUE, "date_of_birth" date NULL, "elections" text NULL CHECK ((JSON_VALID("elections") OR "elections" IS NULL)), "profile_picture" varchar(100) NULL);
INSERT INTO election_app_customuser VALUES('pbkdf2_sha256$870000$wXZISr4iljOoqMK6DIjxsD$3gJm0rsZ5u5MlFXIGdUpcliR9nF0FcYrs1bbLFYw5WU=','2025-02-08 19:11:16.082009',0,'','',0,1,'2024-12-03 20:28:33.430134',1,'EMINIANT EBELLE PISANI','20G00111','M','eminiantpisani@gmail.com',NULL,NULL,'profile_pics/photooo.jpg');
INSERT INTO election_app_customuser VALUES('pbkdf2_sha256$870000$w6YpwQtNeQfaaIeU7k8oyp$12MoAWN+b9mRLFikGHTBM6SajVcXICPCl2gxvJjx4Ks=','2025-02-09 20:59:24.525868',1,'','',1,1,'2024-12-03 22:02:16.222566',2,NULL,NULL,NULL,'eminiantpisani@yahoo.fr',NULL,NULL,'profile_pics/20210122_124306_bXl2f3Y.jpg');
INSERT INTO election_app_customuser VALUES('pbkdf2_sha256$870000$c0Qx4bmrI396Ubv4sda8cB$VzACyi2fGE6VMKKKG0Ap2J69KAQ3YsSJZ++lNcdyQzo=','2025-02-09 20:33:13.039368',0,'','',0,1,'2025-02-09 18:29:43.152358',4,'wefwef','fewfef3','M','darreltcho2@gmail.com',NULL,NULL,'');
CREATE TABLE IF NOT EXISTS "election_app_customuser_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "election_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "election_app_customuser_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "election_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "election_app_election_voters" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "election_id" integer NOT NULL REFERENCES "election_app_election" ("id") DEFERRABLE INITIALLY DEFERRED, "customuser_id" bigint NOT NULL REFERENCES "election_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "election_app_candidate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "bio" text NOT NULL, "vote_count" integer NOT NULL, "profile_picture" varchar(100) NULL, "election_id" integer NOT NULL REFERENCES "election_app_election" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "election_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','eminiantpisani@gmail.com',2,'[{"changed": {"fields": ["Profile picture"]}}]',7,2,'2024-12-03 22:05:13.644937');
INSERT INTO django_admin_log VALUES(2,'11','EMINIANT EBELLE PISANI - regterl',2,'[{"changed": {"fields": ["Profile picture"]}}]',6,2,'2024-12-09 19:47:46.199313');
INSERT INTO django_admin_log VALUES(3,'11','EMINIANT EBELLE PISANI - regterl',2,'[{"changed": {"fields": ["Profile picture"]}}]',6,2,'2024-12-09 19:48:51.262430');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('3wucz8rkbcat5z4bn295nfdojju1coxl','.eJxVjEEOgjAQRe_StWmYzsBQl-49Q9MpU4saSCisjHdXEha6_e-9_zIhbmsJW9UljIM5G2dOv5vE9NBpB8M9TrfZpnlal1HsrtiDVnudB31eDvfvoMRavjWpOiVE7hmgTSDg--yz9-KpZ1TH2KFwiw60A5K2IcquccwkkAnN-wOzKzYz:1tLrSL:QgtI0iTbaRXp-lzu9h4lK1LXKLoMM2Cjvn1wWmraQAo','2024-12-26 22:14:49.328431');
INSERT INTO django_session VALUES('312bg3nlnt8hrbkgh040nezw7ow3925f','.eJxVjEEOgjAQRe_StWmYzsBQl-49Q9MpU4saSCisjHdXEha6_e-9_zIhbmsJW9UljIM5G2dOv5vE9NBpB8M9TrfZpnlal1HsrtiDVnudB31eDvfvoMRavjWpOiVE7hmgTSDg--yz9-KpZ1TH2KFwiw60A5K2IcquccwkkAnN-wOzKzYz:1tMFJg:CczOHcHAWFIU2AvoZ66gh7ShzBfpCn23f4eo8yxMpb4','2024-12-27 23:43:28.240569');
INSERT INTO django_session VALUES('ts5m5kd6sfps6mi4meny0h4ttwaogjlr','.eJxVjEEOgjAQRe_StWmYzsBQl-49Q9MpU4saSCisjHdXEha6_e-9_zIhbmsJW9UljIM5G2dOv5vE9NBpB8M9TrfZpnlal1HsrtiDVnudB31eDvfvoMRavjWpOiVE7hmgTSDg--yz9-KpZ1TH2KFwiw60A5K2IcquccwkkAnN-wOzKzYz:1tPkXo:D3__H1ECrQn44ph7N2x8sRk0xon87RgGGddSRKFZBg0','2025-01-06 15:40:32.870007');
CREATE TABLE IF NOT EXISTS "election_app_vote" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "candidate_id" integer NOT NULL REFERENCES "election_app_candidate" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "election_app_customuser" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "election_app_election" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL UNIQUE, "description" text NOT NULL, "start_date" datetime NOT NULL, "end_date" datetime NOT NULL, CONSTRAINT "check_start_date_before_end_date" CHECK ("start_date" < ("end_date")));
INSERT INTO election_app_election VALUES(21,'frwefwergre','regfvregreg','2025-02-09 20:38:00','2025-02-09 21:45:00');
INSERT INTO election_app_election VALUES(24,'regerg5r4','trgrgregregre','2025-02-09 19:00:00','2025-02-09 22:01:00');
INSERT INTO election_app_election VALUES(25,'rgvre','tregre','2025-02-09 19:02:00','2025-02-09 23:07:00');
INSERT INTO sqlite_sequence VALUES('django_migrations',23);
INSERT INTO sqlite_sequence VALUES('django_content_type',9);
INSERT INTO sqlite_sequence VALUES('auth_permission',36);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "election_app_customuser_groups_customuser_id_group_id_75f44a8e_uniq" ON "election_app_customuser_groups" ("customuser_id", "group_id");
CREATE INDEX "election_app_customuser_groups_customuser_id_c829d92e" ON "election_app_customuser_groups" ("customuser_id");
CREATE INDEX "election_app_customuser_groups_group_id_f4919ba1" ON "election_app_customuser_groups" ("group_id");
CREATE UNIQUE INDEX "election_app_customuser_user_permissions_customuser_id_permission_id_f316fed1_uniq" ON "election_app_customuser_user_permissions" ("customuser_id", "permission_id");
CREATE INDEX "election_app_customuser_user_permissions_customuser_id_c765da51" ON "election_app_customuser_user_permissions" ("customuser_id");
CREATE INDEX "election_app_customuser_user_permissions_permission_id_dcb945ad" ON "election_app_customuser_user_permissions" ("permission_id");
CREATE UNIQUE INDEX "election_app_election_voters_election_id_customuser_id_964a8884_uniq" ON "election_app_election_voters" ("election_id", "customuser_id");
CREATE INDEX "election_app_election_voters_election_id_6f781bc1" ON "election_app_election_voters" ("election_id");
CREATE INDEX "election_app_election_voters_customuser_id_b0a6fa4f" ON "election_app_election_voters" ("customuser_id");
CREATE INDEX "election_app_candidate_election_id_64608c78" ON "election_app_candidate" ("election_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "election_app_vote_candidate_id_d4c3c61f" ON "election_app_vote" ("candidate_id");
CREATE INDEX "election_app_vote_user_id_577e49e5" ON "election_app_vote" ("user_id");
COMMIT;
